.first-screen {
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  max-width: 188rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
  >.container {
    opacity: 0;
    display: none;
    box-sizing: border-box;
  }

  &__wrapper{
  position: relative;
  margin: 0 0;
  width: 100%;
  border-radius: 4rem;
  max-width: 100%;
  height: 99.6rem;

  >img {
    z-index: -100;
    position: absolute;
    border-radius: 4rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  }
  
  &__background {
    z-index: -10;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    background: linear-gradient(0deg,
        rgba(18, 26, 43, 0.24) 0%,
        rgba(18, 26, 43, 0.24) 100%);
  }

  

  &__content {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 3rem 7rem 5.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__middle-section {
    width: 100%;
    max-width: 126.4rem;
    margin-top: 30rem;
    margin-left: 29.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__btn-container {
    position: relative;
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
    width: 15.3683rem;
    height: 15.3206rem;
  }

  &__btn-container::before {
    content: "";
    width: 100%;
    height: 100%;
    width: 15.3683rem;
    height: 15.3206rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../utils/img/btn-with-text.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: rotate 10s linear infinite;
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;

    @keyframes rotate {
      from {
        transform: rotate(0deg);
        /* начальное положение */
      }

      to {
        transform: rotate(360deg);
        /* конечное положение */
      }
    }
  }

  &__btn {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    background-color: $white;
    border-radius: 50%;

    >svg {
      width: 1.2rem;
      height: 2rem;
      transition: transform 0.3s ease;

      path {
        fill: $black;
        stroke: $black;
        stroke-width: 2;
      }
    }

    &:hover {
      >svg {
        transform: translate(0.3rem, -0.4rem);
      }
    }
  }

  &__text {
    margin-left: 13.532rem;
    width: 100%;
    max-width: 49.7rem;
    color: $white;
    font-family: $avanti;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__call-btn {
    padding: 0 0;
    margin-left: 24.4rem;
    display: flex;
    width: 23.4rem;
    height: 5.8rem;
    padding: 0.05rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: transform 0.3s ease;

    &:hover {
      .first-screen__call-icon {
        >svg {
          transform: rotate(30deg);
        }
      }
    }
  }

  &__call-icon {
    display: flex;
    padding: 1.8rem 0 0 1.8rem;
    width: 6.6rem;
    height: 5.7rem;
    background-image: url(../utils/img/btn-call-wrapper.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    >svg {
      width: 2.2rem;
      height: 2.2rem;
      transition: transform 0.3s ease;

      path {
        fill: $l-green;
      }
    }
  }

  &__call-frame {
    display: flex;
    margin-left: -0.5rem;
    box-sizing: border-box;
    width: 16.9rem;
    height: 5.6rem;
    padding: 1.7rem 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 10rem;
    background: $white;
    // текст
    color: $black;
    font-family: $avanti;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__bottom-section {
    margin-top: 12.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;

    >.container {
      display: flex;
      opacity: 1;
    }
  }

  &__title-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 118.7rem;
  }

  &__title {
    display: flex;
    width: 100%;
    color: $white;
    font-family: $drukcyr;
    font-size: 23rem;
    font-style: normal;
    font-weight: 700;
    line-height: 23rem;
    text-transform: uppercase;
  }

  &__label {
    position: absolute;
    width: 18.9rem;
    bottom: 16.888rem;
    right: 9.78rem;
    //текст
    color: $white;
    font-family: $avanti;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    //обертка
    border-radius: 10rem;
    background: $l-green;
    display: inline-flex;
    transform: rotate(-10.346deg);
    padding: 0.8rem 2rem 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container {
    margin: 0 0;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 41.3rem;
    height: 34.5rem;
    flex-shrink: 0;
    background-image: url(../utils/img/background-container.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__top {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    &__top-block {
      width: 100%;
      max-width: 21rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2.4rem;
      gap: 2rem;
    }

    &__icons {
      display: flex;
      flex-direction: row;
    }

    &__icon-wrapper {
      width: 5rem;
      height: 5rem;

      &:last-child {
        margin-left: -2rem;
        z-index: 2;
      }
    }

    &__icon {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 0.3rem solid $white;
    }

    &__text {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      p {
        &:first-child {
          color: $white;
          /* Цифры */
          font-family: $avanti;
          font-size: 4rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }

        &:last-child {
          color: $white;
          font-family: Avanti;
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
        }
      }
    }

    &__image-wrapper {
      position: relative;
      width: 19.2rem;
      height: 13.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1rem solid $white;
      border-radius: 2rem;
    }

    &__image {
      z-index: -1;
      position: absolute;
      border-radius: 2rem;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &__image-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7rem;
      height: 7rem;
      background-color: $white;
      border-radius: 50%;

      >svg {
        width: 1rem;
        height: 1rem;
        stroke: $l-blue;
        stroke-width: 2;
        transition: transform 0.3s ease;
      }

      &:hover {
        >svg {
          transform: translate(0.3rem, -0.4rem);
        }
      }
    }

    &__bottom {
      padding: 2.4rem;
      gap: 2.2rem;
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    &__price {
      width: 18.5rem;
      color: $white;
      font-family: $avanti;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;

      strong {
        font-weight: 700;
      }
    }

    &__btn {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      position: relative;
      display: inline-flex;
      height: 5.4rem;
      max-width: 16.6rem;
      padding: 1.2rem 2.4rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      flex-shrink: 0;
      border-radius: 10rem;
      background: $white;

      >svg {
        width: 1.1rem;
        height: 1.6rem;
        stroke: $l-blue;
        stroke-width: 2;
        transition: transform 0.3s ease;
      }

      &:hover {
        >svg {
          transform: translate(0.3rem, -0.4rem);
        }
      }
    }

    &__btn-text {
      // текст
      color: $l-blue;
      font-family: $avanti;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  // мобилка
  @media (max-width: 48em) {
    gap: 1.6rem;;
    
    &__wrapper{
      height: 90rem;
    }

    >.container {
      opacity: 1;
      display: flex;
      box-sizing: border-box;
    }

    &__content {
      flex-direction: column-reverse;
      padding: 2rem;

      .first-screen__bottom-section {
        >.container {
          opacity: 0;
          display: none;
        }
      }
    }

    &__middle-section {
      max-width: 100%;
      margin-top: 0;
      margin-left: 0;
      display: flex;
      gap: 6.4rem;
      flex-direction: column;
      align-items: flex-start;
    }

    &__btn-container {
      display: none;
    }

    &__text {
      margin-left: 0;
      max-width: 100%;
      font-size: 4rem;
    }

    &__call-btn {
      margin-left: 0;
      width: 37.4rem;
      justify-content: flex-start;
      height: 8rem;
      padding: 0;
    }

    &__call-icon {
      padding: 2.4rem 0 0 2.4rem;
      width: 9.2rem;
      height: 8rem;

      >svg {
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    &__call-frame {
      width: 28.4rem;
      height: 8rem;
      padding: 2.6rem 3.2rem;
      justify-content: center;
      align-items: center;
      border-radius: 20rem;
      // текст
      font-size: 2.8rem;
    }

    &__bottom-section {
      margin-top: auto;
      display: flex;
    }

    &__title-container {
      display: flex;
      position: relative;
      max-width: 100%;
    }

    &__title {
      text-wrap: nowrap;
      font-size: 13rem;
      line-height: 140%;
    }

    &__label {
      position: absolute;
      width: 22.2rem;
      height: 5.4rem;
      bottom: 14rem;
      right: 0;
      //текст
      font-size: 2.8rem;
      //обертка
      border-radius: 20rem;
      background: $l-green;
      display: inline-flex;
      transform: rotate(-8.626deg);
      padding: 1.2rem 1.6rem 0.8rem;
    }

    .container {
      padding: 0 0;
      width: 100%;
      max-width: 100%;
      height: 43.2rem;
      background-image: url(../utils/img/mobile-background-container.svg);

      &__top {
        gap: 0;
        justify-content: space-between;
      }

      &__top-block {
        width: 100%;
        max-width: 30rem;
        padding: 2rem;
        gap: 4rem;
      }


      &__icon-wrapper {
        width: 7.2rem;
        height: 7.2rem;

        &:last-child {
          margin-left: -2rem;
        }
      }

      &__icon {
        border: 0.6rem solid $white;
      }

      &__text {
        gap: 2rem;

        p {
          &:first-child {
            color: $white;
            /* Цифры */
            font-size: 6rem;
          }

          &:last-child {
            font-size: 3.2rem;
            line-height: 120%;
          }
        }
      }

      &__image-wrapper {
        width: 33.2rem;
        height: 15.8rem;
        border: none;
        border-radius: 3.6rem;
      }

      &__image {
        border-radius: 3.6rem;
      }

      &__image-btn {
        width: 9.6rem;
        height: 9.6rem;

        >svg {
          width: 1.6rem;
          height: 1.6rem;
          stroke-width: 0.3rem;
        }
      }

      &__bottom {
        padding: 2rem;
        gap: 2rem;
      }

      &__price {
        width: 100%;
        font-size: 3.2rem;
        line-height: 130%;

      }

      &__btn {
        height: 8rem;
        max-width: 30.8rem;
        padding: 2.4rem 4.8rem;
        gap: 2rem;
        flex-shrink: 0;
        border-radius: 20rem;

        >svg {
          width: 2.2rem;
          height: 3.2rem;
          stroke-width: 1.5;
        }
      }

      &__btn-text {
        // текст
        font-size: 2.8rem;
      }
    }
  }
}