.hypothec {
  margin: 9rem auto 0;
  width: 100%;
  max-width: 188rem;
  position: relative;
  min-height: 53.5rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  .billet {
    position: absolute;
    padding: 4rem;
    background-color: $white;
    top: 0;
    right: 0;
    width: 139rem;
    height: 9.5rem;
    border-radius: 0 0 0 5rem;
    box-sizing: border-box;

    // .billet__text
    &__text {
      color: $black;
      font-family: $avanti;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      &_mobile {
        display: none;
      }
    }

    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 100%;
      width: 5rem;
      height: 5rem;
      border-radius: 0 4rem 0 0;
      box-shadow: 1rem -1rem 0 1rem $white;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 5rem;
      height: 5rem;
      border-radius: 0 4rem 0 0;
      box-shadow: 1rem -1rem 0 1rem $white;
    }
  }

  // .hypothec__img-container
  &__img-container {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4rem;
  }

  // .hypothec__img
  &__img {
    object-position: left 10%;
    filter: brightness(76%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4rem;
    transform: scaleX(-1);
  }

  // .hypothec__text-block
  &__text-block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 3rem 7rem 5rem 7rem;
  }

  // .hypothec__header
  &__header {
  }

  // .hypothec__tags
  &__tags {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  // .hypothec__tag
  &__tag {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-items: center;
    padding: 1rem 2rem;
    color: $white;
    font-family: $avanti;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    border-radius: 10rem;
    border: 1px solid $white;
  }

  // .hypothec__title {}
  &__title {
    width: 100rem;
    margin-top: 8.8rem;
    color: $white;
    font-family: $drukcyr;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
  }

  // .hypothec__footer
  .hypothec__footer {
    margin-top: 4rem;
    width: 100%;
    max-width: 103rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .first-screen__call-btn {
    margin: 0 0;
  }

  // .hypothec__paragraph
  .hypothec__paragraph {
    width: 44rem;
    color: $white;
    font-family: $avanti;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  .container {
    position: absolute;
    bottom: 5rem;
    right: 7rem;
    box-sizing: border-box;
    width: 41.2rem;
    height: 34.6rem;
    padding: 3.5rem 3.5rem;
    background-size: 4.5rem 4.5rem;
    background-repeat: repeat;
    background:
    repeating-linear-gradient(
    transparent,transparent 4.5rem, rgba(19, 19, 19, 0.30) 4.7rem
    ),
    repeating-linear-gradient(
    90deg,
    transparent,transparent 4.5rem, rgba(19, 19, 19, 0.30) 4.7rem
    );

    // .container__back-wrapper
    &__back-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }

    // .container__back-img
    &__back-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      &_mobile {
        display: none;
      }
    }

    // .container__percent
    &__percent {
      color: $black;
      font-family: $drukcyr;
      font-size: 9rem;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
    }

    // .container__paragraph
    &__paragraph {
      margin-top: 2.4rem;
      width: 22rem;
      color: $black;
      font-family: $avanti;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }

    // .container__icon-wrapper
    &__icon-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 14.2rem;
      height: 14.4rem;
      border: 1rem solid $white;
      border-radius: 2rem;
    }

    // .container__icon-img
    &__icon-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }
  }

  .hypothec__icon-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 14.2rem;
    height: 14.4rem;
    border: 1rem solid $white;
    border-radius: 2rem;
  }
}

@media (max-width: 48em) {
  .hypothec {
    margin: 12rem auto 0;
    width: 100%;
    max-width: 71rem;
    position: relative;
    min-height: 127.2rem;
    flex-direction: column;

    .billet {
      padding: 1.2rem 2rem;
      top: 0;
      right: 0;
      width: 26rem;
      height: 10rem;
      border-radius: 0 0 0 5rem;
      box-sizing: border-box;

      // .billet__text
      &__text {
        display: none;

        &_mobile {
          color: $black;
          font-family: $avanti;
          font-style: normal;
          font-weight: 400;
          display: block;
          color: $black;
          font-size: 3.2rem;
          line-height: 120%;
        }
      }

      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 100%;
        width: 5rem;
        height: 5rem;
        border-radius: 0 4rem 0 0;
        box-shadow: 1rem -1rem 0 1rem $white;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        width: 5rem;
        height: 5rem;
        border-radius: 0 4rem 0 0;
        box-shadow: 1rem -1rem 0 1rem $white;
      }
    }

    // .hypothec__img-container
    &__img-container {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4rem;
    }

    // .hypothec__img
    &__img {
      object-position: left 10%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4rem;
      transform: scaleX(-1);
    }

    // .hypothec__text-block
    &__text-block {
      padding: 2rem;
    }

    // .hypothec__header
    &__header {
    }

    // .hypothec__tags
    &__tags {
      display: flex;
      flex-direction: row;
      gap: 0;
    }

    // .hypothec__tag
    &__tag {
      font-size: 2.8rem;
      border-radius: 20rem;
      padding: 1.2rem 1.6rem;
    }

    // .hypothec__title {}
    &__title {
      width: 90%;
      margin-top: 7.4rem;
      font-size: 6.8rem;
    }

    // .hypothec__footer
    .hypothec__footer {
      margin-top: 6.4rem;
      width: 100%;
      max-width: 100%;
      display: flex;
      gap: 6.4rem;
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .first-screen__call-btn {
      margin: 0 0;
    }

    // .hypothec__paragraph
    .hypothec__paragraph {
      width: 100%;
      font-size: 3.2rem;
      line-height: 120%;
    }

    .container {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      width: 67rem;
      height: 40rem;
      padding: 6.4rem;
      background:
    repeating-linear-gradient(
    transparent,transparent 9rem, rgba(19, 19, 19, 0.30) 9.4rem
    ),
    repeating-linear-gradient(
    90deg,
    transparent,transparent 9rem, rgba(19, 19, 19, 0.30) 9.4rem
    );

      // .container__back-wrapper
      &__back-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }

      // .container__back-img
      &__back-img {
        display: none;
        &_mobile {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      // .container__percent
      &__percent {
        font-size: 8.8rem;
      }

      // .container__paragraph
      &__paragraph {
        margin-top: 4rem;
        width: 38rem;
        font-size: 3.2rem;
        line-height: 120%;
      }

      // .container__icon-wrapper
      &__icon-wrapper {
        width: 21.4rem;
        height: 16rem;
        border: 1.2rem solid $white;
        border-radius: 3.2rem;
      }

      // .container__icon-img
      &__icon-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3.2rem;
      }
    }

    .hypothec__icon-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 14.2rem;
      height: 14.4rem;
      border: 1rem solid $white;
      border-radius: 2rem;
    }
  }
}
