.projects {
  width: 100%;
  max-width: 174.2rem;
  margin: 9rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  // .projects__inner
  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;

    // .projects__inner_top{
    &_top {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

  }

  // .projects__title
  &__title {
    @include title($black, $drukcyr);
  }

  // .projects__btn
  &__btn {
    @include btn($l-green, $white);
  }

  // .projects__btn-text
  &__btn-text {
    @include btn-text($white, $avanti);
  }

  // .projects__list
  &__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;

    +.projects__btn {
      display: none;
      opacity: 0;
    }
  }

  .project {
    border-radius: 2.5rem 2.5rem 0 2.5rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 41.3rem;
    height: 42.6rem;


    a {
      width: 100%;
      height: 100%;
      padding: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
    }

    &:hover {
      .project__shadow {
        background-color: $l-green;
        opacity: 1;
      }

      .project_top {
        display: none;
        opacity: 0;
      }

      .project__description {
        display: flex;
        flex-direction: column;
        gap: 0;
        opacity: 1;
        color: $white;
        font-family: $avanti;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        >p {
          sup {
            font-size: 2rem;
          }
        }
      }
    }

    // .project__shadow
    &__shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #2828288a;
      opacity: 0.54;
      z-index: -1;
      transition: background-color 0.6s ease;
    }

    // .project__img{
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -10;
    }

    // .project_top
    &_top {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
    }

    // .project__square
    &__square {
      display: flex;
      width: 100%;
      max-width: max-content;
      padding: 1rem 2rem 0.8rem 2rem;
      border-radius: 10rem;
      background: $l-green;
      align-items: flex-start;
      color: $white;
      font-family: $avanti;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;

      >sup {
        color: $white;
        font-family: $avanti;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
      }
    }

    // .project__title
    &__title {
      color: $white;
      font-family: $drukcyr;
      font-size: 4.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
    }

    //.project__description
    &__description {
      display: none;
      opacity: 0;
      color: $white;
      font-family: $avanti;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    // .project__about
    &__about {
      display: block;
      color: $white;
      font-family: $avanti;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }

    // .project__link-wrapper
    &__btn-wrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8.5rem;
      height: 8.5rem;

      >span {
        position: relative;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 2.5rem 0 0 0;
        background-color: $white;

        &:before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 8.5rem;
          width: 8.5rem;
          height: 8.5rem;
          border-radius: 0 0 2.5rem 0;
          box-shadow: 4rem 2rem 0 2rem $white;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 8.5rem;
          width: 8.5rem;
          height: 8.5rem;
          border-radius: 0 0 2.5rem 0;
          box-shadow: 2rem 4rem 0 2rem $white;
        }
      }
    }

    // .project__btn
    &__btn {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      background-color: $l-green;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 100;

      >svg {
        width: 12px;
        height: 12px;
        stroke-width: 2px;
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        svg {
          transform: translate(0.3rem, -0.4rem);
        }
      }

      >span {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 7rem;
        height: 7rem;
        border-radius: 2rem 0 0 0;
        background-color: $white;

        &:before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 7rem;
          width: 7rem;
          height: 7rem;
          border-radius: 0 0 2rem 0;
          box-shadow: 4rem 2rem 0 2rem $white;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 7rem;
          width: 7rem;
          height: 7rem;
          border-radius: 0 0 2rem 0;
          box-shadow: 2rem 4rem 0 2rem $white;
        }
      }

      >svg {
        width: 12px;
        height: 12px;
        stroke-width: 2px;
        stroke: $white;
        transition: transform 0.3s ease;
      }
    }
  }

  @media (max-width: 48em) {
    width: 100%;
    max-width: 67rem;
    margin: 12rem auto 0;

    // .projects__inner
    &__inner {
      gap: 6rem;

      //   .projects__inner_top
      &_top {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        >a {
          &:first-of-type {
            // .projects__btn
            display: none;
            opacity: 0;
          }
        }
      }
    }

    // .projects__list
    &__list {
      flex-direction: column;
      gap: 3.2rem;

      +.projects__btn {
        display: flex;
        opacity: 1;
      }
    }

    .project {
      border-radius: 4rem 4rem 0 4rem;
      max-width: 100%;
      height: 59.2rem;

      a{
        padding: 3.2rem;
      }
      
      // .project_top
      &_top {
        gap: 2rem;
      }

      // .project__square
      &__square {
        padding: 2rem 4rem 1.6rem;
        border-radius: 20rem;
        font-size: 2.8rem;
      }

      // .project__title
      &__title {
        font-size: 5.6rem;
        line-height: 90%;
      }

      // .project__description
      &__description {
        font-size: 5rem;
      }

      // .project__about
      &__about {
        font-size: 3.2rem;
        line-height: 120%;
      }

      // .project__link-wrapper
      &__btn-wrapper {
        width: 11.6rem;
        height: 11.6rem;

        >span {
          position: relative;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          border-radius: 4rem 0 0 0;
          background-color: $white;

          &:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 11.6rem;
            width: 11.6rem;
            height: 11.6rem;
            border-radius: 0 0 4rem 0;
            box-shadow: 6rem 6rem 0 2rem $white;
          }

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 11.6rem;
            width: 11.6rem;
            height: 11.6rem;
            border-radius: 0 0 4rem 0;
            box-shadow: 6rem 6rem 0 2rem $white;
          }
        }
      }

      // .project__btn
      &__btn {
        width: 9.6rem;
        height: 9.6rem;

        >svg {
          width: 1.6rem;
          height: 1.6rem;
          stroke-width: 1.5;
          stroke: $white;
          transition: transform 0.3s ease;
        }
      }
    }
  }
}