.reviews {
  width: 100%;
  max-width: 177rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // .reviews__inner
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }
  // .reviews__top-section
  &__top-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  // .reviews__title
  &__title {
    @include title($black, $drukcyr);
  }
  // .reviews__btn
  &__btn {
    @include btn($l-green, $white);
  }
  // .reviews__btn-text
  &__btn-text {
    @include btn-text($white, $avanti);
  }
  .reviews-blocks {
    width: 100%;
    gap: 3rem;
    max-width: 177rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .reviews-block {
    width: 100%;
    max-width: 85.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 47.8rem;
    padding: 5rem;
    box-sizing: border-box;
    background-color: $grey;
    border-radius: 4rem;

    >span {
        position: absolute;
        top: 0;
        right: 0;
        width: 33.3rem;
        height: 15.7rem;
        border-radius: 2.6rem;
        background-color: $white;
        &:before {
            content: '';
            position: absolute;
            right: 100%;
            top: 0;
            width: 10rem;
            height: 10rem;
            border-radius: 0 2.6rem 0 0;
            box-shadow: 1rem -1rem 0 1rem $white;
        }
    
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            right: 0;
            width: 10rem;
            height: 10rem;
            border-radius: 0 2.6rem 0 0;
            box-shadow: 1rem -1rem 0 1rem $white;
        }
    }
    // .reviews-block__top
    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    // .reviews-block__author
    &__author-block {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $l-blue;
      border-radius: 2.6rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      width: 32.3rem;
      height: 14.7rem;
      padding: 3.2rem;
      gap: 2rem;
    }

    // .reviews-block__author-icon
    &__author-icon {
      width: 6.6rem;
      height: 6.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      text-align: center;
      font-family: $avanti;
      font-size: 2.0842rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      background-color: #88d4ff;
      border-radius: 50%;
    }
    // .reviews-block__text-section
    &__text-section {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      justify-content: center;
    }
    // .reviews-block__name
    &__name {
      width: 100%;
      max-width: 17.5rem;
      color: $white;
      font-family: $avanti;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.04rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    // .reviews-block__date
    &__date {
      color: var(--, #fff);
      font-family: Avanti;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 2.34rem */
    }
    // .reviews-block__bottom
    &__bottom {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    // .reviews-block__title
    &__title {
      @include block-subtitle($black, $avanti);
    }
    // .reviews-block__paragraph
    &__paragraph {
      @include block-text($black, $avanti);
    }
  }

  @media (max-width: 48em) {

    
  }
}
