.reviews {
  margin: 9rem auto 0;
  width: 100%;
  max-width: 174rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .reviews-swiper-pagination {
    display: none;
  }

  // .reviews__inner
  &__inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }

  // .reviews__top-section
  &__top-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  // .reviews__title
  &__title {
    @include title($black, $drukcyr);
  }

  // .reviews__btn
  &__btn {
    @include btn($l-green, $white);
  }

  // .reviews__btn-text
  &__btn-text {
    @include btn-text($white, $avanti);
  }


  .reviews-swiper-navigation {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .reviews-swiper-navigation__btn-prev {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    >svg{
      path{
        transition: stroke 0.2s ease-in-out;
        stroke: $black;
      }
    }
    &:hover{
      >svg{
        path{
          stroke: $l-blue;
        }
      }
    }
    border-radius: 50%;
    border: 1px solid $black;
  }

  .reviews-swiper-navigation__btn-next {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    >svg{
      path{
        transition: stroke 0.2s ease-in-out;
        stroke: $black;
      }
    }
    &:hover{
      >svg{
        path{
          stroke: $l-blue;
        }
      }
    }
    border-radius: 50%;
    border: 1px solid $black;
  }


  .reviews-slide {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 47.8rem;
    box-sizing: border-box;
    border-radius: 4rem;

    &__wrapper {
      border-radius: 4rem;
      padding: 5rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      background-color: $grey;

      >svg {
        width: 7.6rem;
        height: 7rem;
      }
    }

    >span {
      position: absolute;
      top: 0;
      right: 0;
      width: 33.3rem;
      height: 15.7rem;
      border-radius: 2.6rem;
      background-color: $white;

      &:before {
        content: "";
        position: absolute;
        right: 100%;
        top: 0;
        width: 10rem;
        height: 10rem;
        border-radius: 0 2.6rem 0 0;
        box-shadow: 1rem -1rem 0 1rem $white;
      }

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        width: 10rem;
        height: 10rem;
        border-radius: 0 2.6rem 0 0;
        box-shadow: 1rem -1rem 0 1rem $white;
      }
    }

    // .reviews-slide__top
    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    // .reviews-slide__author
    &__author-block {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $l-blue;
      border-radius: 2.6rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      width: 32.3rem;
      height: 14.7rem;
      padding: 3.2rem;
      gap: 2rem;
    }

    // .reviews-slide__author-icon
    &__author-icon {
      width: 6.6rem;
      height: 6.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      text-align: center;
      font-family: $avanti;
      font-size: 2.0842rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      background-color: #88d4ff;
      border-radius: 50%;
    }

    // .reviews-slide__text-section
    &__text-section {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      justify-content: center;
    }

    // .reviews-slide__name
    &__name {
      width: 100%;
      max-width: 17.5rem;
      color: $white;
      font-family: $avanti;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.04rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // .reviews-slide__date
    &__date {
      color: $white;
      font-family: $avanti;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 2.34rem */
    }

    // .reviews-slide__bottom
    &__bottom {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    // .reviews-slide__title
    &__title {
      @include title-h5($black, $avanti);
    }

    // .reviews-slide__paragraph
    &__paragraph {
      @include block-text($black, $avanti);
    }
  }
}

@media (max-width: 48em) {
  .reviews {
    position: relative;
    max-width: 67rem;
    margin: 12rem auto 0;
    .reviews-swiper-navigation {
      display: none;
    }
    .reviews-swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 2.4rem;
      
      .swiper-pagination-bullet {
        opacity: 1;
        margin: 0 0;
        width: 2.4rem;
        height: 2.4rem;
        border: 0.2rem solid $l-green;
        background-color: $white;
      }

      .swiper-pagination-bullet-active {
        background-color: $l-green;
      }
    }

    // .reviews__btn
    &__btn {
      opacity: 0;
      display: none;
    }

    &__inner {
      gap: 6rem;
    }

    .reviews-slide {
      height: 78rem;
      max-width: 67rem;
      border-radius: 4rem;
      gap: 1.6rem;
      justify-content: flex-start;

      &__wrapper {
        border-radius: 4rem;
        padding: 3.2rem;
        height: 56.8rem;
        background-color: $grey;

        >svg {
          width: 9.6rem;
          height: 8.8rem;
        }
      }

      >span {
        display: none;
      }

      // .reviews-slide__author
      &__author-block {
        position: static;
        width: 100%;
        border-radius: 4rem;
        height: 13.6rem;
        padding: 2rem;
        gap: 3.2rem;
      }

      // .reviews-slide__author-icon
      &__author-icon {
        width: 9.6rem;
        height: 9.6rem;
        font-size: 4rem;
      }

      // .reviews-slide__text-section
      &__text-section {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
      }

      // .reviews-slide__name
      &__name {
        width: 100%;
        max-width: 40rem;
        font-size: 3.6rem;
        letter-spacing: 0.072rem;
      }

      // .reviews-slide__date
      &__date {
        font-size: 3.2rem;
        line-height: 120%;
      }

      // .reviews-slide__bottom
      &__bottom {
        gap: 4rem;
      }
    }
  }
}