.services {
    &.services_mobile {
        display: none;
    }
    width: 174rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    // .services__switcher
    &__switcher {
        width: 100%;
        max-width: 100%;
    }

    // .services__switcher-back
    &__switcher-back {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: none;
        z-index: 0;
    }

    // .services__switcher-btn
    &__switcher-btn {
        position: relative;
        display: inline-flex;
        padding: 2rem 4rem;
        justify-content: center;
        align-items: center;

        &.left-corner {
            background-color: $grey;

            .services__switcher-back {
                background-color: $white;
                border-radius: 0 0 0 2rem;
            }
        }

        &.right-corner {
            background-color: $grey;

            .services__switcher-back {
                background-color: $white;
                border-radius: 0 0 2rem 0;
            }
        }
    }

    // .services__switcher-btn-text
    &__switcher-btn-text {
        position: relative;
        z-index: 1;
        color: $black;
        font-family: $avanti;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
    }



    // .services__title-h2
    &__title-h2 {
        @include title-h2($black, $drukcyr);
    }

    // .services__content
    &__content {
        max-width: 100%;
        width: 100%;
    }

    &__block {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        min-height: 37.1rem;
        padding: 4rem 5rem 5rem;
        box-sizing: border-box;
        border-radius: 4rem;
        background: $grey;
    }

    // .services__description 
    &__description {
        width: 87rem;
        padding-right: 5rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .services__icons {
        display: flex;
        flex-direction: row;
    }

    .services__icon {
        width: 5rem;
        height: 5rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 0.3rem solid $white;
        }

        &:not(:first-of-type) {
            margin-left: -2rem;
            z-index: 2;
        }
    }


    @media (max-width: 48em) {
        .services__icon {
            width: 7.2rem;
            height: 7.2rem;

            img {
                border: 0.6rem solid $white;
            }
        }
    }

    // .services__description-title-h3 
    &__description-title-h3 {
        @include title-h3($black, $drukcyr);
    }

    // .services__footer
    &__footer {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    // .services__link 
    &__link {
        @include btn($white, $l-blue);
    }

    // .services__link-text
    &__link-text {
        @include btn-text($l-blue, $avanti);
    }

    // .services__advantages-list
    &__advantages-list {
        width: 87rem;
        border-left: 1px solid rgba(19, 19, 19, 0.30);
        padding-left: 5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
    }

    // .services__advantages-item 
    &__advantages-item {
        width: 27rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    // .services__advantages-title-h5 
    &__advantages-title-h5 {
        @include title-h5($black, $drukcyr);
    }

    //.services__text-container
    &__text-container {
        display: flex;
        flex-direction: row;
        gap: 0.6rem;
        align-items: baseline;
    }

    // .services__advantages-text 
    &__advantages-text {
        @include block-text($black, $avanti);
    }

    // .services__advantages-number 
    &__advantages-number {
        @include title-h2($l-blue, $drukcyr);
    }
}


@media (max-width: 48em) {
    .services{
        display: none;
    }
    .services.services_mobile {
        display: block;
        padding-left: 2rem;
        width: auto;

        .services__title-h2{
            margin-left: 2rem;
        }

        .services-swiper {
            margin-top: 6rem;
            box-sizing: border-box;
        }

        .services__block {
            background: none;
            padding: 0;
            max-width: 61.6rem;
            display: flex;
            flex-direction: column;
        }

        .services__block-top{
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .services__billet{
            width: 100%;
            display: block;
            background-color: $grey;
            position: relative;
            &::after{
                border-radius: 0 0 0 4rem;
                background-color: $white;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;

            }
        }

        .services__block-title {
            background: $grey;
            white-space: nowrap;
            border-radius: 4rem 4rem 0 0;
            padding: 3.2rem 4rem;
            color: $black;
            font-family: $avanti;
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; 
            text-transform: uppercase;
        }

        .services__description {
            background: $grey;
            border-radius: 0 4rem 4rem 4rem;
            padding: 0 2rem 2rem;
            padding-top: 4.2rem;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .services__footer {
            margin-top: 6.4rem;
            width: 100%;
        }

        // .services__icons 
        // .services__icon 
        // .services__link 
        // .services__link-text 
        .services__advantages-list {
            margin-top: 6.4rem;
            flex-direction: column;
            width: 100%;
            border-left: none;
            flex-wrap: nowrap;
            gap: 4rem;
            padding-left: 0;
        }

        .services__advantages-item {
            gap: 1.6rem;
            width: 100%;
        }

        // .services__advantages-title-h5 
        // .services__advantages-text 
        // .services__text-container 
        // .services__advantages-number 


    }
}