.why-choose-us {
    width: 100%;
    max-width: 1880px;
    display: flex;
    flex-direction: column;
    align-items: center;

    // .why-choose-us__inner 
    &__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px 70px;
    }

    // .why-choose-us__top
    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    // .why-choose-us__call-btn 
    &__call-btn{
        @extend .call-btn;
        &:hover {
            .why-choose-us__call-icon {
              >svg {
                transform: rotate(30deg);
              }
            }
          }
    }
    // .why-choose-us__call-icon 
    &__call-icon{
        @include call-icon($l-green);
    }

    // .why-choose-us__call-frame 
    &__call-frame{
        @extend .call-frame;
    }

    // .why-choose-us__title
    &__title {
    @include title($black, $drukcyr)
    }

    // .why-choose-us__blocks 
    &__blocks {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    // .why-choose-us__block 
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 40px 50px 50px;
    }

    // .why-choose-us__number 
    &__number {
        margin-left: auto;
        color: $black;
        font-family: $avanti;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    // .why-choose-us__text-container 
    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .why-choose-us__block-title
    &__block-title {
        @include block-subtitle($black, $avanti);
    }

    // .why-choose-us__block-text
    &__block-text {
        @include block-text($black, $avanti)
    }

}