@import "base/set";
@import "base/param";
@import "base/common";
@import "base/buttons";

@import "components/header";
@import "components/footer";

@import "components/main-content";
@import "components/first-screen";
@import "components/advantages";
@import "components/audience";
@import "components/stages-of-construction";
@import "components/hypothec";
@import "components/projects";
@import "components/projects-page";
@import "components/detal-project";
@import "components/why-choose-us";
@import "components/reviews";
@import "components/about-company";
@import "components/projects";
@import "components/services";
@import "components/questions";
@import "components/detail-services";


.swiper {
    width: 100%;
    max-width: 177rem;
}

.swiper-slide {
    // margin-right: 3rem;
}

.swiper-slide {
    transition: all 0.3s ease-in-out;
}

.switcher .switcher__container .switcher__content {
    display: none;
}

.switcher .switcher__container .switcher__content.active {
    display: block;
}

.switcher {
    &__control {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    &__btn {
        padding: 2rem 4rem;
        cursor: pointer;
        color: $black;
        font-family: $avanti;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;

        &.active {
            border-radius: 2rem 2rem 0rem 0rem;
            background: $grey;
        }
    }
}


section {
    margin: 9rem auto 0;

    @media (max-width: 48em) {
        margin-top: 12rem;
        margin-bottom: 0;
    }
}

.accordion-content{
    display: none;
}

.accordion-content.active{
    display: block;
}
@media (max-width: 48em) {}