@import "base/set";
@import "base/param";
@import "base/common";
@import "base/buttons";

@import "components/header";
@import "components/first-screen";
@import "components/advantages";
@import "components/main-content";
@import "components/audience";
@import "components/projects";
@import "components/why-choose-us";
@import "components/reviews";
@import "components/about-company";

.body{
    margin: 2rem 2rem;
}

.swiper{
    width: 100%;
    max-width: 177rem;
}
.swiper-slide{
    // margin-right: 3rem;
}

.swiper-slide {
    transition: all 0.3s ease-in-out;
  }