.advantages {
  &__blocks {
    padding: 9rem 9rem;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 43rem;
    gap: 3rem;


    &:not(:first-child){
        &:hover{
            background-image: none;
            background-color: $l-green;
        }
    }
    
  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5rem 5rem;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 4rem;
    transition: all 1s ease;
    
    &:active{
        background-image: none;
        background-color: $l-green;
    }

    &:hover{
        &:not(:first-of-type){
            cursor: pointer;
            &:hover{
                background-image: none;
                background-color: $l-green;
            }
            
        }
    }

    &:first-of-type{
        background-color: $grey;
        justify-content: flex-start;
        gap: 4rem;
        grid-column: 1 / span 2;
    }

    &:nth-of-type(2){
        background: linear-gradient(0deg, rgba(18, 26, 43, 0.24) 0%, rgba(18, 26, 43, 0.24) 100%), url(../utils/img/img-home-1.webp), lightgray 50%;
        grid-column: 3 / span 2;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:nth-of-type(3){
        background: linear-gradient(0deg, rgba(18, 26, 43, 0.24) 0%, rgba(18, 26, 43, 0.24) 100%), url(../utils/img/img-home-3.webp), lightgray 50%;
        grid-column: 1 / span 2;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:nth-of-type(4){
        background: linear-gradient(0deg, rgba(18, 26, 43, 0.24) 0%, rgba(18, 26, 43, 0.24) 100%), url(../utils/img/img-home-2.webp), lightgray 50%;
        grid-column: 3 / span 1;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:nth-of-type(5){
        background: linear-gradient(0deg, rgba(18, 26, 43, 0.24) 0%, rgba(18, 26, 43, 0.24) 100%), url(../utils/img/img-home-1.webp), lightgray 50%;
        grid-column: 4 / span 1;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
  }


  &__title {
    width: 100%;
    max-width: 53.8rem;
    color: $black;
    font-family: $drukcyr;
    font-size: 9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
  }

  &__text {
    width: 100%;
    max-width: 51.2rem;
    color: $black;
    font-family: $avanti;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__block-text {
    color: $white;
    font-family: $drukcyr;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }

  &__number-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    flex-shrink: 0;
    border: 0.1rem solid $white;
    border-radius: 50%;
  }

  &__number {
    color: $white;
    font-family: $avanti;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
  }
}
