.first-screen {
  position: relative;
  margin: 0 0;
  width: 100%;
  border-radius: 4rem;
  max-width: 188rem;
  height: 99.6rem;

  &__background {
    z-index: -10;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    background: linear-gradient(
      0deg,
      rgba(18, 26, 43, 0.24) 0%,
      rgba(18, 26, 43, 0.24) 100%
    );
  }
  > img {
    z-index: -100;
    position: absolute;
    border-radius: 4rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(18, 26, 43, 0.24) 0%,
      rgba(18, 26, 43, 0.24) 100%
    );
  }

  &__content {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 3rem 7rem 5.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__middle-section {
    width: 100%;
    max-width: 126.4rem;
    margin-top: 30rem;
    margin-left: 29.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__btn-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.3683rem;
    height: 15.3206rem;
  }
  &__btn-container::before {
    content: "";
    width: 100%;
    height: 100%;
    width: 15.3683rem;
    height: 15.3206rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../utils/img/btn-with-text.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: rotate 10s linear infinite;
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;

    @keyframes rotate {
      from {
        transform: rotate(0deg); /* начальное положение */
      }
      to {
        transform: rotate(360deg); /* конечное положение */
      }
    }
  }

  &__btn {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    background-color: $white;
    border-radius: 50%;

    > svg {
      width: 1.2rem;
      height: 2rem;
      transition: transform 0.3s ease;

      path {
        fill: $black;
        stroke: $black;
        stroke-width: 2;
      }
    }

    &:hover {
      > svg {
        transform: translate(0.3rem, -0.4rem);
      }
    }
  }

  &__text {
    margin-left: 13.532rem;
    width: 100%;
    max-width: 49.7rem;
    color: $white;
    font-family: $avanti;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__call-btn {
    padding: 0 0;
    margin-left: 24.4rem;
    display: flex;
    width: 23.4rem;
    height: 5.8rem;
    padding: 0.05rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: transform 0.3s ease;

    &:hover {
      .first-screen__call-icon {
        > svg {
          transform: rotate(30deg);
        }
      }
    }
  }

  &__call-icon {
    display: flex;
    padding: 1.8rem 0 0 1.8rem;
    width: 6.6rem;
    height: 5.7rem;
    background-image: url(../utils/img/btn-call-wrapper.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    > svg {
      width: 2.2rem;
      height: 2.2rem;
      transition: transform 0.3s ease;

      path {
        fill: $l-green;
      }
    }
  }

  &__call-frame {
    display: flex;
    box-sizing: border-box;
    width: 16.9rem;
    height: 5.6rem;
    padding: 1.7rem 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 10rem;
    background: $white;
    // текст
    color: $black;
    font-family: $avanti;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__bottom-section {
    margin-top: 12.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 118.7rem;
  }

  &__title {
    display: flex;
    text-wrap: nowrap;
    width: 100%;
    color: $white;
    text-align: center;
    font-family: $drukcyr;
    font-size: 23rem;
    font-style: normal;
    font-weight: 700;
    line-height: 23rem;
    text-transform: uppercase;
  }

  &__label {
    position: absolute;
    width: 18.9rem;
    content: "есть ипотека";
    bottom: 16.888rem;
    right: 9.78rem;
    //текст
    color: $white;
    font-family: $avanti;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    //обертка
    border-radius: 10rem;
    background: $l-green;
    display: inline-flex;
    transform: rotate(-10.346deg);
    padding: 0.8rem 2rem 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41.3rem;
    height: 34.5rem;
    flex-shrink: 0;
    background-image: url(../utils/img/background-container.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__top {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    &__top-block {
      width: 100%;
      max-width: 21rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2.4rem;
      gap: 2rem;
      border-radius: 2rem 2rem 0 0;
    }

    &__icons {
      display: flex;
      flex-direction: row;
    }

    &__icon-wrapper {
      width: 5rem;
      height: 5rem;

      &:last-child {
        margin-left: -2rem;
        z-index: 2;
      }
    }

    &__icon {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 0.3rem solid $white;
    }

    &__text {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      p {
        &:first-child {
          color: $white;
          /* Цифры */
          font-family: $avanti;
          font-size: 4rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }

        &:last-child {
          color: $white;
          font-family: Avanti;
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
        }
      }
    }
    &__image-wrapper {
      position: relative;
      width: 19.2rem;
      height: 13.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1rem solid $white;
      border-radius: 2rem;
    }

    &__image {
      z-index: -1;
      position: absolute;
      border-radius: 2rem;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &__image-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7rem;
      height: 7rem;
      background-color: $white;
      border-radius: 50%;

      > svg {
        width: 1rem;
        height: 1rem;
        stroke: $l-blue;
        stroke-width: 2;
        transition: transform 0.3s ease;
      }
      &:hover {
        > svg {
          transform: translate(0.3rem, -0.4rem);
        }
      }
    }

    &__bottom {
      padding: 2.4rem;
      gap: 2.2rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    &__price {
      width: 18.5rem;
      color: $white;
      font-family: $avanti;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      strong {
        font-weight: 700;
      }
    }

    &__btn {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      position: relative;
      display: inline-flex;
      height: 5.4rem;
      max-width: 16.6rem;
      padding: 1.2rem 2.4rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      flex-shrink: 0;
      border-radius: 10rem;
      background: $white;

      > svg {
        width: 1.1rem;
        height: 1.6rem;
        stroke: $l-blue;
        stroke-width: 2;
        transition: transform 0.3s ease;
      }
      &:hover {
        > svg {
          transform: translate(0.3rem, -0.4rem);
        }
      }
    }

    &__btn-text {
      // текст
      color: $l-blue;
      font-family: $avanti;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
