.header {
  z-index: 10;
  padding: 0 7rem;
  top: 5rem;
  position: absolute;
  top: 3rem;
  width: 100%;
  max-width: 188rem;
  padding: 0 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;

  &__logo-link {
    width: 24.1rem;
    height: 9rem;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;
  }

  &__nav-list-link {
    color: $white;
    font-family: $avanti;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.04rem;
  }

  &__number {
    //текст
    color: $black;
    font-family: $avanti;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    //кнопка
    display: flex;
    height: 5.6rem;
    padding: 1.6rem 3.2rem;
    align-items: center;
    gap: 1rem;
    border-radius: 10rem;
    background: $white;
    border-radius: 10rem;
  }

  &__text {
    color: $white;
    font-family: $avanti;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__call {

  }
}
