@mixin title($color, $font-style) {
  color: $color;
  font-family: $font-style;
  font-size: 9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  @media (max-width: 48em) {
    font-size: 8.8rem;
    line-height: 110%;
  }
}
@mixin title-h2($color, $font-style) {
  color: $color;
  font-family: $font-style;
  font-size: 9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  @media (max-width: 48em) {
    font-size: 8.8rem;
    line-height: 110%;
  }
}

@mixin title-h3($color, $font-style) {
  color: $color;
  font-family: $font-style;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  @media (max-width: 48em) {
    font-size: 6.8rem;
    line-height: 110%;
  }
}

@mixin title-h4($color, $font-style) {
  color: $color;
  font-family: $font-style;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  @media (max-width: 48em) {
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
  }
}

@mixin title-h5($color, $font-style) {
  color: $color;
  font-family: $font-style;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 48em) {
    font-size: 4rem;
  }
}

@mixin block-text($color, $font-style) {
  color: $color;
  font-family: $font-style;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;

  @media (max-width: 48em) {
    font-size: 3.2rem;
    line-height: 120%;
  }
}
