@mixin title($color, $font-style) {
    color: $color;
    font-family: $font-style;
    font-size: 9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;

    @media (max-width: 48em) {
        font-size: 8.8rem;
        line-height: 110%;
    }
}

@mixin block-subtitle($color, $font-style) {
    color: $color;
    font-family: $font-style;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (max-width: 48em) {
        font-size: 4rem;
    }
}

@mixin block-text($color, $font-style) {
    color: $color;
        font-family: $font-style;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        @media (max-width: 48em) {
            font-size: 3.2rem;
            line-height: 120%;
        }
}