@mixin title($color, $font-style) {
    color: $color;
    font-family: $font-style;
    font-size: 9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;

    @media (max-width: 48em) {
        font-size: 8.8rem;
        line-height: 110%;
    }
}

// Кнопка с телефоном
.call-btn {
    padding: 0 0;
    margin-left: 24.4rem;
    display: flex;
    width: 23.4rem;
    height: 5.8rem;
    padding: 0.05rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: transform 0.3s ease;

    @media (max-width: 48em) {
        margin-left: 0;
        width: 37.4rem;
        justify-content: flex-start;
        height: 8rem;
        padding: 0;
    }
}

@mixin call-icon($color) {
    display: flex;
    padding: 1.8rem 0 0 1.8rem;
    width: 6.6rem;
    height: 5.7rem;
    background-image: url(../utils/img/btn-call-wrapper.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    >svg {
        width: 2.2rem;
        height: 2.2rem;
        transition: transform 0.3s ease;

        path {
            fill: $color;
        }
    }

    @media (max-width: 48em) {
        &__call-icon {
            padding: 2.4rem 0 0 2.4rem;
            width: 9.2rem;
            height: 8rem;

            >svg {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }
}

.call-frame {
    display: flex;
    margin-left: -0.5rem;
    box-sizing: border-box;
    width: 16.9rem;
    height: 5.6rem;
    padding: 1.7rem 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 10rem;
    background: $white;
    // текст
    color: $black;
    font-family: $avanti;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media (max-width: 48em) {
        width: 28.4rem;
        height: 8rem;
        padding: 2.6rem 3.2rem;
        justify-content: center;
        align-items: center;
        border-radius: 20rem;
        // текст
        font-size: 2.8rem;
      }
}
